name: Build project

on:
  pull_request: {}
  workflow_dispatch: {}

jobs:
  buildForAllSupportedPlatforms:
    name: Build for ${{ matrix.targetPlatform }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        targetPlatform:
          - StandaloneWindows64

    steps:
      # Checkout.
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      # Cache Unity Library folder.
      - uses: actions/cache@v4
        with:
          path: Library
          key: Library-${{ matrix.targetPlatform }}
          restore-keys: Library-

      # Restore NuGet packages via NuGetForUnity custom action.
      - uses: ./.github/actions/nugetforunity-restore
        with:
          working-directory: .

      # Build project.
      - name: Build Unity Project
        id: unity_build
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: ${{ matrix.targetPlatform }}
